.keypad-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.operator {
  background-color: hsl(220, 80%, 55%);
}

.darker {
  background-color: hsl(210, 6%, 13%);
}

.number {
  background-color: hsl(220, 5%, 12%);
}

.keypad-item:hover {
  filter: brightness(0.9);
}

.keypad-item:active {
  transform: scale(0.95);
}
