.keypad-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 8px;
  background-color: hsl(220, 5%, 12%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.operator {
  background-color: hsl(220, 80%, 55%);
}

.darker {
  background-color: hsl(210, 6%, 13%);
}
